Package: com.littleferris.tealpixelsearch
Name: TealPixelSearch
Depends:
Version: 1.0.2
Architecture: iphoneos-arm
Description: Search widget for xenHTML. Requires xenHTML and InfoStats2
Maintainer: littleferris <goobertime@gmail.com>
Author: littleferris (littleferris) <goobertime@gmail.com>
Section: Widgets(xenHTML)
