Package: com.littleferris.pixelsearch
Name: PixelSearch
Depends:
Version: 1.0
Architecture: iphoneos-arm
Description: Search widget for xenHTML. Requires xenHTML and InfoStats2
Maintainer: littleferris <goobertime@gmail.com>
Author: littleferris (merk) <goobertime@gmail.com>
Section: Widgets(xenHTML)
